/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
.footer:after, .header:after, .footer .container_center:after, .form:after, .content:after, .content__wrap:after {
  content: '';
  display: table;
  clear: both; }

.footer:before {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"), url("../fonts/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("GothamPro-BlackItalic"), url("../fonts/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("../fonts/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("../fonts/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("../fonts/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("GothamPro-MediumItalic"), url("../fonts/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Gotham Pro";
  color: #ffffff;
  line-height: 1.3; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.wrapper {
  font-size: 1em;
  display: table;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  margin: 0 auto -5.4em auto;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover; }
  .wrapper:before {
    content: '';
    width: 71.75em;
    height: 63.75em;
    background-color: #cead77;
    border-radius: 50%;
    position: absolute;
    bottom: -26.5em;
    left: -14.1em; }
  @media (max-width: 1199px) {
    .wrapper:before {
      width: 90em;
      height: 90em;
      left: -55em;
      bottom: -50em; } }
  @media (max-width: 767px) {
    .wrapper {
      margin-bottom: -11em; }
      .wrapper:before {
        display: none; } }

/* Middle
 ----------------------------------------------------------------------------- */
.container_center {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: auto; }

.column {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 300px;
  column-width: 300px; }

/* Header
 ----------------------------------------------------------------------------- */
.header {
  padding: 0 9.7em;
  position: absolute;
  height: 6.35em;
  width: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  .header.show {
    opacity: 1; }
  .header:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 16.3em;
    height: 0.1em;
    background-color: #ffffff;
    opacity: 0.2; }
  .header__left {
    float: left;
    text-decoration: none;
    color: #ffffff; }
  .header__logo {
    display: inline-block;
    vertical-align: bottom;
    width: 4.5em;
    margin-right: 0.9em;
    margin-bottom: -4.5em; }
    .header__logo img {
      display: block;
      width: 100%; }
  .header__title {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin-right: 0.8em; }
  .header__sub {
    text-transform: uppercase;
    font-size: 0.75em; }
  .header__right {
    float: right;
    padding-top: 4.2em; }
  .header__phone {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.125em;
    margin-right: 5.6em; }
    @media (min-width: 768px) {
      .header__phone:before {
        font-family: 'icomoon' !important;
        content: "\e907";
        display: inline-block;
        margin-right: 0.9em;
        font-size: 0.8em; } }
    .header__phone:hover {
      color: #cead77; }
      @media (min-width: 768px) {
        .header__phone:hover:before {
          -webkit-animation: shake 1s;
          animation: shake 1s; } }
  .header__callback {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    text-decoration: none;
    margin-right: 0.8em;
    color: #cead77;
    position: relative;
    display: inline-block; }
    @media (min-width: 768px) {
      .header__callback:before, .header__callback:after {
        content: '';
        position: absolute;
        display: block;
        background-color: #cead77;
        left: 50%;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      .header__callback:before {
        width: 0.6em;
        height: 0.6em;
        border-radius: 50%;
        margin-left: -.3em;
        bottom: -1.5em; }
      .header__callback:after {
        width: 0;
        height: 0.2em;
        bottom: -1.26em; }
      .header__callback:hover:after {
        left: 0;
        width: 100%; } }
  @media (max-width: 1199px) {
    .header {
      padding: 0 6.3em 0 3.5em;
      position: absolute;
      height: 6.65em; }
      .header:before {
        left: 10.2em; }
      .header__logo {
        margin-bottom: -4.3em; }
      .header__right {
        padding-top: 4.45em; }
      .header__phone {
        margin-right: 6.8em; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      position: absolute;
      height: 6.65em;
      height: auto; }
      .header:before {
        left: 8.3em;
        bottom: auto;
        top: 9em; }
      .header__left {
        float: none; }
      .header__logo {
        margin-bottom: 0em;
        width: 5.6em;
        float: left;
        display: block;
        margin-right: 1.5em; }
      .header__title {
        display: block;
        overflow: hidden;
        font-size: 1.4em;
        padding-top: 3.4em;
        margin-right: 0; }
      .header__sub {
        font-size: 1em;
        display: block;
        overflow: hidden; }
      .header__right {
        padding-top: 2em;
        width: 69.2%;
        font-size: 1.3em; }
      .header__phone {
        margin-right: 0;
        display: inline-block;
        margin-bottom: 0.8em; } }

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: 5.4em;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  .footer.show {
    opacity: 1; }
  .footer .container_center {
    padding-top: 0.6em;
    padding-bottom: 0.6em; }
  .footer__content {
    float: right;
    width: 100%;
    max-width: 44.2%; }
  @media (max-width: 1199px) {
    .footer__content {
      max-width: 51%; } }
  @media (max-width: 767px) {
    .footer {
      height: 8.2em; }
      .footer__content {
        max-width: none;
        float: none;
        font-size: 1.2em; } }

.form input:not([type]),
.form input[type=text],
.form input[type=password],
.form input[type=email],
.form input[type=url],
.form input[type=search],
.form input[type=tel],
.form input[type=number],
.form input[type=datetime],
.form textarea {
  width: 100%;
  margin-bottom: 2.4em; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 0.125em solid #ffffff;
  padding: 0 1.9em 1.6em;
  outline: none;
  font-size: 0.85em;
  font-weight: 400;
  font-family: "Gotham Pro";
  border-radius: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  input:not([type]):hover,
  input[type=text]:hover,
  input[type=password]:hover,
  input[type=email]:hover,
  input[type=url]:hover,
  input[type=search]:hover,
  input[type=tel]:hover,
  input[type=number]:hover,
  input[type=datetime]:hover,
  textarea:hover {
    border-bottom: 0.125em solid #ffffff;
    background-color: transparent; }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=datetime]:focus,
  textarea:focus {
    border-bottom: 0.125em solid #cead77;
    background-color: transparent; }
  input:not([type]).invalid,
  input[type=text].invalid,
  input[type=password].invalid,
  input[type=email].invalid,
  input[type=url].invalid,
  input[type=search].invalid,
  input[type=tel].invalid,
  input[type=number].invalid,
  input[type=datetime].invalid,
  textarea.invalid {
    border-bottom: 0.125em solid #f00;
    color: #f00; }
    input:not([type]).invalid:focus,
    input[type=text].invalid:focus,
    input[type=password].invalid:focus,
    input[type=email].invalid:focus,
    input[type=url].invalid:focus,
    input[type=search].invalid:focus,
    input[type=tel].invalid:focus,
    input[type=number].invalid:focus,
    input[type=datetime].invalid:focus,
    textarea.invalid:focus {
      color: #ffffff; }
    input:not([type]).invalid::-webkit-input-placeholder,
    input[type=text].invalid::-webkit-input-placeholder,
    input[type=password].invalid::-webkit-input-placeholder,
    input[type=email].invalid::-webkit-input-placeholder,
    input[type=url].invalid::-webkit-input-placeholder,
    input[type=search].invalid::-webkit-input-placeholder,
    input[type=tel].invalid::-webkit-input-placeholder,
    input[type=number].invalid::-webkit-input-placeholder,
    input[type=datetime].invalid::-webkit-input-placeholder,
    textarea.invalid::-webkit-input-placeholder {
      color: #f00; }
    input:not([type]).invalid:-moz-placeholder,
    input[type=text].invalid:-moz-placeholder,
    input[type=password].invalid:-moz-placeholder,
    input[type=email].invalid:-moz-placeholder,
    input[type=url].invalid:-moz-placeholder,
    input[type=search].invalid:-moz-placeholder,
    input[type=tel].invalid:-moz-placeholder,
    input[type=number].invalid:-moz-placeholder,
    input[type=datetime].invalid:-moz-placeholder,
    textarea.invalid:-moz-placeholder {
      color: #f00; }
    input:not([type]).invalid::-moz-placeholder,
    input[type=text].invalid::-moz-placeholder,
    input[type=password].invalid::-moz-placeholder,
    input[type=email].invalid::-moz-placeholder,
    input[type=url].invalid::-moz-placeholder,
    input[type=search].invalid::-moz-placeholder,
    input[type=tel].invalid::-moz-placeholder,
    input[type=number].invalid::-moz-placeholder,
    input[type=datetime].invalid::-moz-placeholder,
    textarea.invalid::-moz-placeholder {
      color: #f00; }
    input:not([type]).invalid:-ms-input-placeholder,
    input[type=text].invalid:-ms-input-placeholder,
    input[type=password].invalid:-ms-input-placeholder,
    input[type=email].invalid:-ms-input-placeholder,
    input[type=url].invalid:-ms-input-placeholder,
    input[type=search].invalid:-ms-input-placeholder,
    input[type=tel].invalid:-ms-input-placeholder,
    input[type=number].invalid:-ms-input-placeholder,
    input[type=datetime].invalid:-ms-input-placeholder,
    textarea.invalid:-ms-input-placeholder {
      color: #f00; }
  input:not([type])::-webkit-input-placeholder,
  input[type=text]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=datetime]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #9f9f9f;
    font-style: italic;
    font-weight: 300; }
  input:not([type]):-moz-placeholder,
  input[type=text]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=datetime]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #9f9f9f;
    font-style: italic;
    font-weight: 300; }
  input:not([type])::-moz-placeholder,
  input[type=text]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=datetime]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #9f9f9f;
    font-style: italic;
    font-weight: 300; }
  input:not([type]):-ms-input-placeholder,
  input[type=text]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=datetime]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #9f9f9f;
    font-style: italic;
    font-weight: 300; }
  @media (max-width: 767px) {
    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=search],
    input[type=tel],
    input[type=number],
    input[type=datetime],
    textarea {
      font-size: 1em;
      padding: 0 0.9em 1.6em; } }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0;
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }
  input[type=checkbox]:not(:disabled), input[type=checkbox]:not(:disabled),
  input[type=radio]:not(:disabled),
  input[type=radio]:not(:disabled) {
    cursor: pointer; }
  input[type=checkbox]:before, input[type=checkbox]:before,
  input[type=radio]:before,
  input[type=radio]:before {
    display: block; }
  input[type=checkbox]:disabled, input[type=checkbox]:disabled,
  input[type=radio]:disabled,
  input[type=radio]:disabled {
    border-color: #ddd; }

input[type=radio] {
  border-radius: 50%; }
  input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #000; }
  input[type=radio]:disabled:checked:before {
    background-color: #aaa; }

input[type=checkbox]:checked:before, input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled:checked:before, input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

@media (min-width: 768px) {
  .soc {
    float: left;
    margin-right: 4.7em; } }

.soc a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  margin-right: 2em;
  -webkit-transition: all 0.3ss;
  -o-transition: all 0.3ss;
  transition: all 0.3ss; }
  .soc a:hover {
    color: #cead77; }
  .soc a:active {
    color: #716147; }

@media (max-width: 1199px) {
  .soc {
    margin-right: 4em; } }

@media (max-width: 767px) {
  .soc {
    margin-bottom: 1.6em; }
    .soc a {
      margin-right: 1em; } }

.copy {
  overflow: hidden;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.7);
  max-width: 46.2em;
  text-transform: uppercase;
  line-height: 2.4; }
  .copy a {
    color: rgba(255, 255, 255, 0.7); }
    .copy a:hover {
      text-decoration: none; }
  @media (max-width: 1199px) {
    .copy {
      max-width: 38.7em;
      line-height: 1.7; } }

.btn {
  color: #121929;
  font-family: "Gotham Pro";
  font-size: 0.875em;
  font-weight: 900;
  padding: 1.85em 2.4em 1.6em;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #cead77;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  border-radius: 2.98em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase; }
  .btn:hover {
    background-color: #cead77;
    color: #121929;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3.75em rgba(206, 173, 119, 0.2);
    box-shadow: 0 0 3.75em rgba(206, 173, 119, 0.2); }
  .btn:active {
    background-color: #716147;
    color: #121929; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?sny57b");
  src: url("../fonts/icomoon.eot?sny57b#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?sny57b") format("truetype"), url("../fonts/icomoon.woff?sny57b") format("woff"), url("../fonts/icomoon.svg?sny57b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-caret:before {
  content: "\e900"; }

.icon-auction:before {
  content: "\e901"; }

.icon-certificate:before {
  content: "\e902"; }

.icon-insurance:before {
  content: "\e903"; }

.icon-house:before {
  content: "\e904"; }

.icon-instagram:before {
  content: "\e905"; }

.icon-vk:before {
  content: "\e906"; }

.icon-phone:before {
  content: "\e907"; }

.joornal {
  position: absolute;
  width: 56.59em;
  height: auto;
  bottom: 15%;
  left: 1.1em;
  z-index: 1; }
  @media (max-width: 1199px) {
    .joornal {
      left: -2.2em;
      width: 37.5em;
      bottom: 15.3em; } }
  @media (max-width: 767px) {
    .joornal {
      display: none; } }

.content {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  padding: 8.9em 6em 16.4em 9em;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  .content.show {
    opacity: 1; }
  .content__wrap {
    float: right;
    display: table;
    width: 100%;
    max-width: 50.6%; }
  .content__left {
    display: table-cell;
    width: 32.4%;
    vertical-align: bottom; }
  .content__right {
    display: table-cell;
    padding-left: 2.8em;
    vertical-align: bottom;
    padding-bottom: 2.4em; }
  @media (max-width: 1199px) {
    .content {
      padding: 10.4em 2em 7.8em 9em;
      vertical-align: middle; }
      .content__wrap {
        display: block;
        max-width: 56.5%; }
      .content__left {
        display: block;
        width: auto; }
      .content__right {
        display: block;
        padding-left: 0;
        margin-bottom: 2.8em; } }
  @media (max-width: 767px) {
    .content {
      vertical-align: top;
      padding: 22.7em 1.4em 13.1em; }
      .content__wrap {
        max-width: none; }
      .content__right .btn {
        width: 100%;
        font-size: 1.1em; } }

.list {
  text-align: left;
  margin: 0.5em 0; }
  .list__item {
    display: table;
    width: 100%;
    margin-bottom: 1.55em; }
    @media (min-width: 1200px) {
      .list__item:nth-child(even) .list__img:after {
        content: '';
        position: absolute;
        display: block;
        background-color: #ffffff;
        width: 0.063em;
        height: 1.5em;
        top: -1.5em;
        left: 1.55em; } }
    .list__item:hover .list__img {
      color: #cead77; }
    .list__item:hover .list__text {
      font-weight: 500; }
  .list__img {
    display: table-cell;
    vertical-align: middle;
    padding-right: 2.5em;
    width: 4.75em;
    position: relative; }
    .list__img i {
      width: 3.25em;
      height: 3.25em;
      display: block;
      text-align: center;
      line-height: 3.25em;
      border: 0.063em solid;
      border-radius: 50%; }
      .list__img i:before {
        font-size: 1.5em; }
  .list__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.87em; }
  @media (max-width: 1199px) {
    .list__item {
      display: inline-table;
      width: 49%;
      vertical-align: top; } }
  @media (max-width: 1199px) and (min-width: 768px) and (max-width: 1199px) {
    .list__item:nth-child(3) .list__img:after, .list__item:nth-child(4) .list__img:after {
      content: '';
      position: absolute;
      display: block;
      background-color: #ffffff;
      width: 0.063em;
      height: 1.5em;
      top: -1.5em;
      left: 1.55em; } }
  @media (max-width: 1199px) {
    .list__img {
      vertical-align: top;
      padding-right: 2.4em; }
    .list__text {
      padding-right: 2em; } }
  @media (max-width: 767px) {
    .list {
      font-size: 1.3em;
      margin: 3.4em 0 0; }
      .list__item {
        width: 100%; }
        .list__item:nth-child(even) .list__img:after {
          content: '';
          position: absolute;
          display: block;
          background-color: #ffffff;
          width: 0.063em;
          height: 1.5em;
          top: -1.5em;
          left: 1.55em; } }

.txt_primary {
  color: #cead77; }

.txt_success {
  color: #121929; }

.txt_info {
  color: #9f9f9f; }

.txt_warning {
  color: #0a0a0a; }

.txt_danger {
  color: #8e8e8e; }

.title {
  font-weight: 900;
  font-size: 3em;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 1em; }
  @media (max-width: 767px) {
    .title {
      font-size: 2.1em; } }

.subtitle {
  font-weight: 500;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 2.9em; }

[data-step] {
  display: none; }
  [data-step].active {
    display: block; }

.form .title {
  margin-bottom: 0.2em; }

.form .content__action {
  margin-top: 1.5em; }

.form__hide {
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  font-size: 0.75em;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .form__hide:hover {
    color: #cead77; }
  .form__hide .icon-caret {
    display: inline-block;
    font-size: 0.4em;
    border: 1px solid;
    text-align: center;
    width: 7.8em;
    height: 7.8em;
    line-height: 7.8em;
    border-radius: 50%;
    margin-right: 1.9em; }

.form .btn {
  width: 53.6%;
  margin-right: 8.7%;
  vertical-align: middle; }

@media (max-width: 767px) {
  .form__hide {
    display: none; }
  .form .btn {
    width: 100%; } }

.success {
  padding-bottom: 0.9em; }
  .success .title {
    margin-bottom: 0.2em; }
  .success .subtitle {
    margin-bottom: 5.2em; }

/*# sourceMappingURL=style.css.map */