// Style for button and pseudo button for input and link
.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 0.875em;
	font-weight: 900;
	padding: 1.85em 2.6em 1.6em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 2.98em;
	transition: all 0.3s;
	text-transform: uppercase;
	
	&:hover {
		background-color: $color_primary;
		color: $btn_default_text_color;
		text-decoration: none;
		box-shadow: 0 0 3.75em rgba(206, 173, 119, 0.2);
	}
	&:active {
		background-color: #716147;
		color: $btn_default_text_color;
	}
	// @each $status_el, $color_bg in $el_colors {
	// 	&_#{$status_el} {
	// 		background-color: $color_bg;
	// 		border-color: $color_bg;
	// 		color: $btn_contrast_text_color;
	// 		&:hover {
	// 			background-color: darken($color_bg, 7%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 		&:focus,&:active {
	// 			background-color: darken($color_bg, 10%);
	// 			color: $btn_contrast_text_color;
	// 		}
	// 	}
	// }	
}
