/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	// background: #BFF08E;
	@extend %clear_all;
	@include show;
	.container_center {
		padding-top: 0.6em;
		padding-bottom: 0.6em;
		@extend %clear_a;
	}
	&__content {
		float: right;
		width: 100%;
		max-width: 44.2%;
	}
	    
	@media (max-width: 1199px) {
		&__content {
			max-width: 51%;
		}
	    
	}
	@media (max-width: 767px) {
		height: 8.2em;
		&__content {
			max-width: none;
			float: none;
			font-size: 1.2em;
		}
	}
}

