// Social link
.soc {
	float: left;
	margin-right: 3em;
	a {
		display: inline-block;
		color: $color_withe;
		text-decoration: none;
		font-size: 1.5em;
		margin-right: 2em;
		@include trs(0.3s);
		&:hover {
			color: $color_primary;
		}
		&:active {
			color: #716147;
		}
	}
}

.copy {
	overflow: hidden;
	font-size: 0.5em;
	color: rgba($color_withe, .3);
	max-width: 46.2em;
	text-transform: uppercase;
	a {
		color: rgba($color_withe, .3);
		&:hover {
			text-decoration: none;
			
		}
	}
}
