// Social link
.soc {
	@media (min-width: 768px) {
		float: left;
		margin-right: 4.7em;
	}
	a {
		display: inline-block;
		color: $color_withe;
		text-decoration: none;
		font-size: 1.5em;
		margin-right: 2em;
		@include trs(0.3s);
		&:hover {
			color: $color_primary;
		}
		&:active {
			color: #716147;
		}
	}
	@media (max-width: 1199px) {
	    margin-right: 4em;
	}
	@media (max-width: 767px) {
	    margin-bottom: 1.6em;
	    a {
	    	margin-right: 1em;
	    }
	}
}

$color: rgba($color_withe, 0.7);
.copy {
	overflow: hidden;
	font-size: 0.5em;
	color: $color;
	max-width: 46.2em;
	text-transform: uppercase;
	line-height: 2.4;
	a {
		color: $color;
		&:hover {
			text-decoration: none;
			
		}
	}
	@media (max-width: 1199px) {
	    max-width: 38.7em;
	    line-height: 1.7;
	    br {
	    	// display: none;
	    }
	}

}
