// Main wrappers =====================================
.wrapper {
	font-size: $main_font_size;
	display: table;
	width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
	&:before {
		content: '';
		width: 71.75em;
		height: 63.75em;
		background-color: $color_primary;
		border-radius: 50%;
		position: absolute;
		bottom: -26.5em;
		left: -14.1em;
	}
	@media (max-width: 1199px) {
	    &:before {
	    	width: 90em;
	    	height: 90em;
	    	left: -55em;
	    	bottom: -50em;
	    }
	}
	@media (max-width: 767px) {
		margin-bottom: -11em;
	    &:before {
	    	display: none;
	    }
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
// .main__content {
// 	padding-bottom: $footer_height;
// 	@extend %clear_a;
// }

.container_center {
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: $container_width;
}

.column {
	@include columns(4, 20px, 300px);
}


